{%load static%}
<footer class="footer">
    <div class="footer__column">
        <ul class="footer__column__footer__item">
            <li class="footer__item-link">
                <a href="#">about us</a>
            </li>
            <li class="footer__item-link">
                <a href="#">support</a>
            </li>
            <li class="footer__item-link">
                <a href="#">blog</a>
            </li>
            <li class="footer__item-link">
                <a href="#">press</a>
            </li>
            <li class="footer__item-link">
                <a href="#">api</a>
            </li>
            <li class="footer__item-link">
                <a href="#">jobs</a>
            </li>
            <li class="footer__item-link">
                <a href="#">privacy</a>
            </li>
            <li class="footer__item-link">
                <a href="#">terms</a>
            </li>
            <li class="footer__item-link">
                <a href="#">directory</a>
            </li>
            <li class="footer__item-link">
                <a href="#">languages</a>
            </li>

        </ul>
    </div>
    <div class="footer__column">

        <span class="sentence">© 2018 Instagram</span>
    </div>

</footer>