{%load static%}
<header class="header">
    <div class="saver__container">
        <div class="header__pfcontainer">
            <a href="{% url 'index' %}" class="header__link">
                <img src="{% static 'images/navi.png' %}" alt="insta_logo" class="header__image">
            </a>
        </div>
        <form action="#" method="get">
            <input type="text" name="words for search" placeholder="Search" required>
        </form>
        <nav class="header__navigation">
            <ul class="header__list">
                <li class="header__list-item">
                    <a href="{% url 'explore' %}" class="header__icon">
                        <i class="fa fa-compass" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="header__list-item">
                    <a href="#" class="header__icon">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="header__list-item">
                    <a href="{% url 'profile' %}" class="header__icon">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>



        </nav>
    </div>
</header>