 {%extends "base.html"%} {%load static %}{%block title%}Explore{%endblock%} {%block content%}
<main class="explore">
    <div class="explore__large__container">
        <span class="explore__list__suggest">Suggested</span>
        <div class="explore__list__container">
            <ul class="explore__list">
                {% for a in images%}
                <li class="explore__list-item">
                    <div class="explore__column">
                        <div class="explore__profile-pic">
                            <img src="{%static 'images/nick.jpeg'%}" alt="nellson says haha" class="explore__img dead">
                        </div>
                        <div class="explore__progfile-discription">
                            <a href="index.html" class="explore__link">{{a.created_by.username}}</a>
                            <span class="explore__discription">{{a.caption}}</span>
                        </div>
                    </div>
                    <div class="explore__column">
                        <button type="button" class="explore__button">Follow</button>
                    </div>
                </li>
                {%endfor%}

            </ul>
        </div>
    </div>
</main>
{%endblock%}