{%extends "base.html"%} {%load static%}{%block title%}Feed{%endblock%} {%block content%}


<form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file" required>
    <input type="text" name="location" required placeholder="Location">
    <input type="text" name="caption" required placeholder="Caption">
    <input type="submit" value="Upload photo">
</form>

<main class="feed">

    {% for a in images %}
    <div class="photo">
        <header class="photo__header">

            <img src="{% static 'images/haha.jpg' %}" alt="nellson" class="photo__header__img">
            <a href="{% url 'profile' %}" class="photo__header__link">{{ a.created_by.username }}</a>

        </header>
        <img src="media/{{a.file}}" alt="nelson" class="photo__main_pic">
        <div class="info">
            <div class="info__icontainer">
                <!--<i class="fa fa-heart" aria-hidden="true"></i>
                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                   -->
                <div class="info__icons">
                    <span class="info__action">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                    </span>
                    <span class="info__action">
                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="info__iconss">
                    <span class="info__action">
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                    </span>
                </div>


            </div>

            <span class="info__views">{{a.like_set.all.count}} likes</span>
            <ul class="info__list">
                <li class="info__list-item">
                    <span class="info__name">{{ a.created_by.username }}</span> {{ a.caption }}
                </li>
                {% for comment in a.comment_set.all %}
                <li class="info__list-item">
                    <span class="info__name">{{comment.created_by.username}}</span>{{comment.content}}
                </li>
                {% endfor %}
            </ul>

            <span class="info__date">{{a.created_at}}</span>
            <div class="divider"></div>
            <div class="tmp__div__feed">
                <textarea placeholder="Add a comment..."></textarea>
                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    {% endfor %}
</main>
{% endblock%}