{%extends "base.html"%} {%block title%}Profile{%endblock%} {% block content%}
<main class="profile">

    <header class="profile__header">
        <img src="images/nick.jpeg" alt="simpson" class="profile__header__img">
        <div class="profile__header__info">
            <div class="profile__header__info__storage">
                <span class="profile__name">Nicolás Serrano Arévalo</span>
                <a href="edit_profile.html" class="profile__annoy">
                    <button class=" profile__edit__profile " type="button ">Edit Profile</button>
                </a>
                <span class="foggy ">
                    <i class="fa fa-cog a__fog " aria-hidden="true "></i>
                </span>

            </div>

            <div class="profile__header__followers ">
                <span class="profile__header__words ">0 </span>posts
                <span class="profile__header__words ">7 </span> followers
                <span class="profile__header__words ">14 </span>followings
            </div>

            <div class="tmp__sentence__protect ">
                <span class="profile__header__name" \>Nicolás Serrano Arévalo</span> WTF! </div>
        </div>


    </header>

    <div class="container ">
        <div class="container__row ">

            <div class="container__column ">
                <div class="hide"></div>
                <img src="images/haha.jpg " alt="simpson " class="container__img ">
            </div>
            <div class="container__column ">
                <img src="images/haha.jpg " alt="simpson " class="container__img ">
            </div>
            <div class="container__column ">
                <img src="images/haha.jpg " alt="simpson " class="container__img ">
            </div>
        </div>
        <div class="container__row ">
            <div class="container__column ">
                <img src="images/haha.jpg " alt="simpson " class="container__img ">
            </div>
            <div class="container__column ">
                <img src="images/haha.jpg " alt="simpson " class="container__img ">
            </div>
            <div class="container__column ">
                <img src="images/haha.jpg " alt="simpson " class="container__img ">
            </div>
        </div>
        <div class="container__row ">
            <div class="container__column ">
                <img src="images/haha.jpg " alt="simpson " class="container__img ">
            </div>
            <div class="container__column ">
                <img src="images/haha.jpg " alt="simpson " class="container__img ">
            </div>
            <div class="container__column ">
                <img src="images/haha.jpg " alt="simpson " class="container__img ">
            </div>
        </div>
    </div>

</main>
{%endblock%}