{%extends "base.html"%}{%load static%} {%block title%}Profile{%endblock%} {% block content%}
<main class="profile">

    <header class="profile__header">
        <img src="media/{{profiles.avatar}}" alt="simpson" class="profile__header__img">
        <div class="profile__header__info">
            <div class="profile__header__info__storage">
                <span class="profile__name">{{user.username}}</span>
                <a href="edit_profile.html" class="profile__annoy">
                    <button class=" profile__edit__profile " type="button ">Edit Profile</button>
                </a>
                <span class="foggy">
                    <i class="fa fa-cog a__fog " aria-hidden="true "></i>
                </span>

            </div>

            <div class="profile__header__followers ">
                <span class="profile__header__words ">0 </span>posts
                <span class="profile__header__words ">7 </span> followers
                <span class="profile__header__words ">14 </span>followings
            </div>

            <div class="tmp__sentence__protect ">
                <span class="profile__header__name" \>{{user.username}}</span> {{profiles.bio}} </div>
        </div>


    </header>

    <div class="container ">
        <div class="container__row ">
            {% for i in user.image_set.all %}

            <div class="container__column ">
                <div class="hide">
                    {{ i.like_set.all.count }}
                    <span class="heart">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                    </span>

                    {{i.comment_set.all.count}}
                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                </div>
                <img src="/media/{{i.file}} " alt="simpson " class="container__img ">
            </div>

            {% endfor %}
        </div>

    </div>


</main>
{%endblock%}